DATABASE_URL="Database connection url"
PORT="Server port"
DIRECT_URL="Direct connection to the database. Used for migrations"
AUTH_KEY="Authorization key"
JWT_SECRET="JWT secret"
HASH_LVL="Hash lever for password encryption"
AI_KEY="Key for AI assistant"
AI_MODEL="AI assistant model"
AI_SETTINGS="Settings for the AI assistant" 